In [78]:
df = pd.read_csv(r'C:\Users\Adnan B\Desktop\Internship_Application\Sample test file - Sheet1.csv', parse_dates=[6], infer_datetime_format = True)
df

,First Name,Last Name,Street,Zip,City,Type,Last Check-In Date,Job,Phone,Company
0,Federico,García,Recogidas Street,18805,Granada,U,2018-01-14,Dentist,958 419182,Badger Maps
1,Ángel,Ganivet,Puerta Real Avenue,18805,Granada,U,2018-02-06,Salesman,917891232,Badger Maps
2,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,André,Citröen,Gran Via Road,18805,Granada,D,2018-03-01,Postman,971 659 123,Badger Maps
4,Anselmo,Ortega,King St,DE1 3LD,Almería,A,2017-11-12,Policeman,933 12 41 59,Wood SA
5,Bjorn,Ostberg,"27, Queen St",DE1 3LD,Almería,U,2018-04-24,Actor,93 1 31 21 29,Wood SA
6,Markus,Dupont,"102, Fake Street",18005,Granada,A,NaT,Musician,912234223,Fabric SA
7,Jake,Robins,Street Road,NaN,Granada,D,2018-03-11,Assistant,1111111111,Fabric SA
8,Lola,Rivers,NaN,18005,Granada,A,2018-02-21,CEO,958963229,Fabric SA
9,Paul,Hudson,Leicester Square,18005,Granada,D,2018-01-24,Salesman,953912345,Fabric SA

In [75]:
def latest_check_in():
    today = pd.Timestamp.today()
    tempList = []
    for i in range(df.shape[1]):
        tempList.append(today-df['Last Check-In Date'][i])
    minValue = min(tempList)
    indexValue = tempList.index(minValue)
    
    print(df.iloc[indexValue])

latest_check_in()

First Name                          Bjorn
Last Name                         Ostberg
Street                       27, Queen St
Zip                               DE1 3LD
City                              Almería
Type                                    U
Last Check-In Date    2018-04-24 00:00:00
Job                                 Actor
Phone                       93 1 31 21 29
Company                           Wood SA
Name: 5, dtype: object

In [79]:
def earliest_check_in():
    today = pd.Timestamp.today()
    tempList = []
    for i in range(df.shape[1]):
        tempList.append(today-df['Last Check-In Date'][i])
    maxValue = max(tempList)
    indexValue = tempList.index(maxValue)
    
    print(df.iloc[indexValue])

earliest_check_in()

First Name                        Anselmo
Last Name                          Ortega
Street                            King St
Zip                               DE1 3LD
City                              Almería
Type                                    A
Last Check-In Date    2017-11-12 00:00:00
Job                             Policeman
Phone                        933 12 41 59
Company                           Wood SA
Name: 4, dtype: object

In [87]:
df["Full Name"] = df["First Name"] + ' '  + df["Last Name"]
df

,First Name,Last Name,Street,Zip,City,Type,Last Check-In Date,Job,Phone,Company,Full Name
0,Federico,García,Recogidas Street,18805,Granada,U,2018-01-14,Dentist,958 419182,Badger Maps,Federico García
1,Ángel,Ganivet,Puerta Real Avenue,18805,Granada,U,2018-02-06,Salesman,917891232,Badger Maps,Ángel Ganivet
2,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3,André,Citröen,Gran Via Road,18805,Granada,D,2018-03-01,Postman,971 659 123,Badger Maps,André Citröen
4,Anselmo,Ortega,King St,DE1 3LD,Almería,A,2017-11-12,Policeman,933 12 41 59,Wood SA,Anselmo Ortega
5,Bjorn,Ostberg,"27, Queen St",DE1 3LD,Almería,U,2018-04-24,Actor,93 1 31 21 29,Wood SA,Bjorn Ostberg
6,Markus,Dupont,"102, Fake Street",18005,Granada,A,NaT,Musician,912234223,Fabric SA,Markus Dupont
7,Jake,Robins,Street Road,NaN,Granada,D,2018-03-11,Assistant,1111111111,Fabric SA,Jake Robins
8,Lola,Rivers,NaN,18005,Granada,A,2018-02-21,CEO,958963229,Fabric SA,Lola Rivers
9,Paul,Hudson,Leicester Square,18005,Granada,D,2018-01-24,Salesman,953912345,Fabric SA,Paul Hudson

In [86]:
df.sort_values('Full Name')

,First Name,Last Name,Street,Zip,City,Type,Last Check-In Date,Job,Phone,Company,Full Name
3,André,Citröen,Gran Via Road,18805,Granada,D,2018-03-01,Postman,971 659 123,Badger Maps,André Citröen
4,Anselmo,Ortega,King St,DE1 3LD,Almería,A,2017-11-12,Policeman,933 12 41 59,Wood SA,Anselmo Ortega
5,Bjorn,Ostberg,"27, Queen St",DE1 3LD,Almería,U,2018-04-24,Actor,93 1 31 21 29,Wood SA,Bjorn Ostberg
0,Federico,García,Recogidas Street,18805,Granada,U,2018-01-14,Dentist,958 419182,Badger Maps,Federico García
7,Jake,Robins,Street Road,NaN,Granada,D,2018-03-11,Assistant,1111111111,Fabric SA,Jake Robins
8,Lola,Rivers,NaN,18005,Granada,A,2018-02-21,CEO,958963229,Fabric SA,Lola Rivers
6,Markus,Dupont,"102, Fake Street",18005,Granada,A,NaT,Musician,912234223,Fabric SA,Markus Dupont
9,Paul,Hudson,Leicester Square,18005,Granada,D,2018-01-24,Salesman,953912345,Fabric SA,Paul Hudson
1,Ángel,Ganivet,Puerta Real Avenue,18805,Granada,U,2018-02-06,Salesman,917891232,Badger Maps,Ángel Ganivet
2,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [88]:
df.sort_values('Job')

,First Name,Last Name,Street,Zip,City,Type,Last Check-In Date,Job,Phone,Company,Full Name
5,Bjorn,Ostberg,"27, Queen St",DE1 3LD,Almería,U,2018-04-24,Actor,93 1 31 21 29,Wood SA,Bjorn Ostberg
7,Jake,Robins,Street Road,NaN,Granada,D,2018-03-11,Assistant,1111111111,Fabric SA,Jake Robins
8,Lola,Rivers,NaN,18005,Granada,A,2018-02-21,CEO,958963229,Fabric SA,Lola Rivers
0,Federico,García,Recogidas Street,18805,Granada,U,2018-01-14,Dentist,958 419182,Badger Maps,Federico García
6,Markus,Dupont,"102, Fake Street",18005,Granada,A,NaT,Musician,912234223,Fabric SA,Markus Dupont
4,Anselmo,Ortega,King St,DE1 3LD,Almería,A,2017-11-12,Policeman,933 12 41 59,Wood SA,Anselmo Ortega
3,André,Citröen,Gran Via Road,18805,Granada,D,2018-03-01,Postman,971 659 123,Badger Maps,André Citröen
1,Ángel,Ganivet,Puerta Real Avenue,18805,Granada,U,2018-02-06,Salesman,917891232,Badger Maps,Ángel Ganivet
9,Paul,Hudson,Leicester Square,18005,Granada,D,2018-01-24,Salesman,953912345,Fabric SA,Paul Hudson
2,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [94]:
if set(['Street', 'Zip', 'City', 'Last Check-In Date', 'Company']).issubset(df.columns):
    print("The following required columns (Street, Zip, City, Last Check-in Date and Company) are all part of the file.")
else:
    print("Please make sure the following columns (Street, Zip, City, Last Check-in Date and Company) exist in the file")

The following required columns (Street, Zip, City, Last Check-in Date and Company) are all part of the file.